<table style="text-align:center">
    <tr>
        <th></th>
        <th ng-repeat="point in data.matrix track by $index">
            x<sub>{{$index+1}}</sub>
        </th>
    </tr>
    <tr ng-repeat="point in data.matrix track by $index">
        <td>
            <b>
                x<sub>{{$index+1}}</sub>
            </b>
        </td>
        <td ng-repeat="item in data.matrix[$index] track by $index">
            {{item}}
        </td>
    </tr>
    <tr>
        <th colspan="{{points.count+1}}">drumul minim:</th>
    </tr>
    <tr ng-repeat="row in data.vs.min">
        <th>v<sub>{{$index}}</sub></th>
        <td ng-repeat="item in row track by $index">
            {{item}}
        </td>
    </tr>
    <tr>
        <th colspan="{{points.count+1}}">drumul maxim:</th>
    </tr>
    <tr ng-repeat="row in data.vs.max">
        <th>v<sub>{{$index}}</sub></th>
        <td ng-repeat="item in row track by $index">
            {{item}}
        </td>
    </tr>
</table>