* {
    font-family: "Courier New", sans-serif;
}
table {
    border-collapse: collapse;
}
td {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    padding: 0;
}
td.corner-tl {
    border-top: 0;
    border-left: 0;
}
td.corner-tr {
    border-top: 0;
    border-right: 0;
}
td.corner-trl {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
td.corner-full {
    border: 0;
}
tr:last-child td.corner-tl,
tr:last-child td.corner-tr,
tr:last-child td.corner-trl {
    border-bottom: 0;
}
table input {
    padding: 0;
    outline: 0;
    border: 0;
    background: transparent;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: right;
}
md-menu-item {
    height: 30px;
    min-height: 30px;
}
md-menu-content {
    padding-top: 0;
}
md-menu:first-child {
    float: left;
}
.part {
    position: relative;
}