<span md-colors="{color:'accent'}" style="position: absolute;top: -20px;"
ng-show="i_matrix_error">
    Date incorecte
</span>
<table>
    <tr>
        <td class="corner-tl"></td>
        <td ng-repeat="point in points.array track by $index">
            x<sub>{{$index+1}}</sub>
        </td>
    </tr>
    <tr ng-repeat="(u, point) in data.i_matrix">
        <td>
            U<sub>{{u+1}}</sub>
        </td>
        <td style="text-align: center;" ng-repeat="(x, item) in data.i_matrix[u] track by $index">
            <input max="2" min="-1" type="number" ng-model="data.i_matrix[u][x]" ng-change="event.i_matrix.change()">
        </td>
        <td class="corner-full">
            <md-button class="md-icon-button md-accent" aria-label="Remove"
                       ng-click="event.i_matrix.remove(u)">
                <md-icon>-</md-icon>
            </md-button>
        </td>
    </tr>
    <tr>
        <td class="corner-full" colspan="{{data.i_matrix.length + 1}}">
            <md-button class="md-icon-button md-accent" aria-label="Add"
                       ng-click="event.i_matrix.add()">
                <md-icon>+</md-icon>
            </md-button>
        </td>
    </tr>
</table>
