<h2 class="md-subhead">Parcurgere în adâncime</h2>
<div layout="row">
    <div flex="1" layout="column">
        <md-input-container>
            <label>Rădăcina</label>
            <input ng-model="dft.root" type="number">
        </md-input-container>
        <md-button class="md-raised" ng-click="playDFT()">Parcurge</md-button>
    </div>
    <div flex class="dft">
        <md-button class="md-raised md-accent">L</md-button>
        <md-button class="md-raised md-primary"
                   ng-repeat="i in dft.list">{{::i}}
        </md-button>
    </div>
</div>